{% comment %}
    fullbreadcrumb = ""
    filter product collections for top level collections
    filter product collections for second level collections
    filter product for third level collections
    if top level collection
        render link
        if second level collection with toplevel collection in name
            render link
            if third level collection with second level collection in name
                render link


{% endcomment %}
<div class="flex pt-s8 pb-s9 text-black-400">
    <a class="faux-p-xs ">Apparel</a>
    {% render '8-right', class: "text-black-200 mx-s2" %}
    <a class="faux-p-xs ">Mens</a>
    {% render '8-right', class: "text-black-200 mx-s2" %}
    <a class="faux-p-xs ">Tops</a>
    {% render '8-right', class: "text-black-200 mx-s2" %}
    <a class="faux-p-xs text-black-500">{{ product.title }}</a>
</div>
