<div class="">
    <div class="pt-s10 px-s8">
        <div class="flex justify-between">
            <p>Tag us in your photos</p>
            <a>Follow us on instagram</a>
        </div>
        <div class="flex mt-s6 gap-s5">
            {% for i in (1..4) %}
                <div class="h-[310px] bg-primary-100 flex-1"></div>
            {% endfor %}
        </div>
    </div>
    <div class="px-[36px]">
        <div class="px-[36px] py-s12 flex gap-s14 justify-between items-center">
            <div class="max-w-[540px]">
                <p>Be the first to know about protions and new products—plus, get 15% off your first purchase!</p>
                <a class="mt-s8">Enter your email to get our newsletter</a>
            </div>
            <div class="flex gap-s10">
                <div>
                    <h3 class="faux-p text-primary-800">Contact</h3>
                    <p>hello@shopthewharf.com</p>
                    <p>123.456.7890</p>
                    <p>23101 Canal Road</br>Orange Beach, AL 36561</p>
                </div>
                <div class="w-max">
                    <h3 class="faux-p text-primary-800">Customer Service</h3>
                    <a class="block">Customer Service</a>
                    <a class="block">Help / FAQ</a>
                    <a class="block">Returns & Exchanges</a>
                    <a class="block">Gift Cards</a>
                </div>
            </div>
        </div>
        <div class="py-s6 flex">
            <p class="flex-1"></p>
            <div class="w-[104px] h-s6 bg-primary-50"></div>
            <div class="flex-1">
                <img src="" alt="">
            </div>
        </div>
    </div>
</div>