.faq__accordion .accordion__item{
    --tw-border-opacity:1;
    border-color:rgb(230 230 230/var(--tw-border-opacity));
    border-top-width:3px
}

.faq__accordion .accordion__item:last-child{
    border-bottom-width:3px
}

.faq__accordion .accordion__trigger{
    align-items:flex-start;
    display:flex;
    justify-content:space-between;
    padding-bottom:32px;
    padding-top:32px;
    width:100%;
}
@media (min-width:1024px){
    .faq__accordion .accordion__trigger{
        padding-bottom:32px;
        padding-top:32px
    }
}
.faq__accordion .accordion__heading{
    text-align:left;
}

.accordion__content-wrapper{
    overflow:hidden
}

.faq_accordion .accordion__content{
    padding-bottom:24px;
    padding-top:4px
}

@media (min-width:1024px){
    .faq_accordion .accordion__content{padding-bottom:32px}
}

.faq__accordion .accordion__content--flex-item{
    width:410px;
    text-align:center;
}

.accordion__content p:before, .accordion__content p:after{
    display:none;
}

#app .faq__accordion accordion__content p + p {
    margin-top:1rem;
}

#app .faq__accordion .accordion__content-wrapper {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

svg path{
    transition: 0.2s;
}

.accordion__trigger_active svg path.left {
  d: path("M1 1L11 11");
}

.accordion__trigger_active svg path.right {
  d: path("M1 11L11 1");
}

@media (max-width:1023px){
    #app nav .accordion__content-wrapper{
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
    }
}
