html {
    --nav-height-desktop: 104px;
    --nav-height-mobile: 0px;
}

.nav-wrapper{
    height: var(--nav-height-desktop);
    @apply flex items-center max-w-content-lg mx-auto;
}

@media screen and (max-width: 1023px){

    .nav-primary.container{
        display:none;
    }

    .nav-primary.container.active{
        display:inline-block;
        position:absolute;
        top: calc(100% + 1px);
        left:0;
        width:100vw;
        background-color:white;
    }

    .menu__item.level--1{
        @apply w-full;
    }

    .menu__item.level--1 .menu__link{
        @apply flex justify-between px-s5 py-s6;
    }

    .menu-column.link-list{
        @apply w-full px-s8 text-black-600;
    }

    .dropdown__list--level-2{
        @apply pl-s5;
    }

    .dropdown__link--level-1{
        @apply block pt-s3 pb-s6;
    }
    .dropdown__link--level-2{
        @apply block pt-s3 pb-s6;
    }
}

@media screen and (min-width: 1024px){
    .nav-primary.container{
        @apply flex-1 flex h-full;
    }
    .menu__item.level--1{
        @apply text-black-600 h-full;
    }
    .menu__link{
        @apply h-full flex px-s2 xl:px-s3 items-center;
    }
    .menu__item.level--1:first-child .menu__link{
        @apply pl-0;
    }

    .menu__dropdown{
        @apply w-screen bg-white absolute left-0 py-s10 px-s13 hidden;
        top: calc(100% + 1px);
    }
    .menu__columns{
        @apply flex max-w-[1200px] h-[300px] mx-auto bg-white gap-s8 z-10;
    }
    .menu-column{
        @apply flex-1;
    }

    .menu__link:hover+.menu__dropdown,
    .menu__dropdown:hover{
        display:block;
    }

    .dropdown__list-item--level-1:not(:first-child){
        @apply mt-s4;
    }

    .dropdown__list--level-2{
        @apply mt-s5;
    }

    .dropdown__link--level-1{
        @apply text-primary-800 uppercase;
    }

    .dropdown__list-item--level-1:not(:first-child){
        @apply mt-s4;
    }


    .dropdown__list-item--level-2:not(:first-child){
        @apply mt-s2;
    }

    .dropdown__link--level-2{
        @apply text-black-600 capitalize;
    }
}



/* search animation */

nav .search-hide{
    transition: opacity .3s;
}

nav.search-mode .search-hide{
    opacity:0;
    pointer-events:none;
}

nav .search{
    transition: width .8s;
    width:40px;
}

nav.search-mode .search{
    width: calc(100% - 72px);
    z-index:100;
}

nav .search input{
    width:0px;
    opacity:0;
    flex-grow: 1;
    transition: margin-left .8s, opacity .8s;
}
nav.search-mode .search input{
    margin-left: 24px;
    opacity:1;
}


nav.search-mode .search input{
}


/* sidebar menu */

.sidebar-link.top-level:not(:first-child){
    @apply mt-s9;
}

.sidebar-link.second-level{
    @apply mt-s6;
}
