html {
    --nav-height-desktop: 104px;
    --nav-height-mobile: 0px;
}

nav{
    height: var(--nav-height-desktop);
    @apply px-s5 lg:px-72 flex items-center relative;
}

.menu__link:hover+.menu__dropdown, .menu__dropdown:hover{
    display:flex;
}

.menu__dropdown{
    display:none;
}

.dropdown__list-item--level-1:not(:first-child){
    @apply mt-s4;
}

.dropdown__list--level-2{
    @apply mt-s5;
}

.dropdown__link--level-1{
    @apply text-primary-800 uppercase;
}


.dropdown__list-item--level-2:not(:first-child){
    @apply mt-s2;
}

.dropdown__link--level-2{
    @apply text-black-600 capitalize;
}
