/* filters */

select.filter, select.sort {
    appearance:none;
    border-bottom: 1px solid #E6E6E6;
    padding: 0;
    width:150px;
    padding: 4px 0;
}

/* tiles */
.product-tile:hover modal-opener.quick-shop-opener{
    display:block;
}


modal-opener.quick-shop-opener{
    display:none;
}
