/* Option Selection Inputs */

input[type="radio"]{
    appearance:none;
    background-color: #fff;

}

input.color-selector{
    background-color:transparent;
    @apply w-36 h-36 rounded-full flex justify-center items-center;
}

input.color-selector.sm{
    @apply w-s5 h-s5;
}

input.color-selector + label, input.color-selector + * label{
    display:none;
}

input.color-selector:checked{
    @apply border-1 border-black-300;
}z

input.color-selector:checked + label, input.color-selector:checked + * label{
    display:inline-block;
}
input.color-selector::before{
    content:"";
    background: center / cover no-repeat var(--color-selector-bg);
    @apply w-[26px] h-[26px] rounded-full;
}

input.color-selector.sm::before{
    @apply w-[14px] h-[14px];
}

input.size-selector + label{
    @apply border-black-200 text-black-600;
}
input.size-selector:checked + label{
    @apply border-primary-800 text-primary-800;
}

/* End Option Selection Inputs */

/* Carousel Buttons */

button.carousel-control:disabled{

}


/* images */

#app div.images img:where(:first-child,:last-child:nth-child(even)){
    @apply row-span-2 col-span-2;
}
