.rich-text{
    @apply text-black-700;
}

.rich-text :is(h4){
    @apply text-primary-800;
}

.rich-text :is(h5){
    @apply text-black-900;
}
.rich-text :is(h6){
    @apply text-secondary-500;
}


#app .rich-text ul li:before{
  content: "";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  font-weight: bold;
  display: inline-block;
  position: absolute;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  margin-left: -26px;
  margin-top: 10px;
  @apply bg-black-400;
}

#app .rich-text ol>li{
    counter-increment: count 1;
}
#app .rich-text ol>ol>li{
    counter-increment: chapter 1;
}

#app .rich-text ol li:before{
  content: counter(count, decimal) '.';;  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  font-size:18px;
  font-weight:bold;
  display: inline-block;
  position: absolute;
  width: 1rem;
  margin-top:0px;
  margin-left: -32px;
  padding-right: 8px;
  @apply text-black-400;
}

#app .rich-text :is(ul, ol) li{
    @apply ml-s7;
}

#app .rich-text :is(ul, ol) li:not(:first-child){
    @apply mt-s7;
}

#app .rich-text ul ul, #app .rich-text ol ol{
    @apply ml-s7 mt-s7;
}

#app .rich-text ul ul li:before{
    margin-left:-32px;
}

#app .rich-text ul ul ul li:before{
    @apply bg-white border-[2px] border-black-400 w-[6px] h-[6px];
}

#app .rich-text ol ol li:before{
  content: counter(chapter, lower-alpha) '.';
}

.rich-text p:first-child:before{
    margin-top: 0px;
}

.rich-text p:last-child:after{
    margin-bottom:0px;
}

.rich-text table {
    @apply mt-s6;
}

.rich-text :is(table,th,td){
    @apply border-black-100 border-[1px];
    border-collapse: collapse;
}

.rich-text th, .rich-text tr:first-child td{
    @apply bg-black-100 text-black-900;
}

.rich-text tr td:first-child{
    @apply text-black-900;
}

.rich-text :is(th, td){
    @apply px-s2 py-s1;
}

.rich-text :is(th, td):not(:first-child){
    @apply text-center;
}

.rich-text a, .inline-link{
    @apply text-primary-500 hover:text-primary-600 underline;
}
