<div class="px-54 md:px-72">
  <div class="py-s12 md:py-s13 max-w-content-lg mx-auto">
    <h2 class="faux-h3 text-center text-primary-900">
      {% assign customHeadingLength = section.settings.customHeading | size %}
      {% if customHeadingLength > 0 %}
        {{ section.settings.customHeading }}
      {% else %}
        {{ section.settings.collection.title }}
      {% endif %}
    </h2>
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-s8 lg:gap-s6 mt-s9 md:mt-s8">
      {% assign products = section.settings.collection.products %}
      {% for product in products limit: 4 %}
        {% render 'product-card', product: product %}
      {% endfor %}
    </div>

  </div>
</div>

{% schema %}
  {
    "name": "featured-products",
    "settings": [
      {
        "type": "text",
        "id": "customHeading",
        "label": "Custom Heading",
        "default": "Featured Products",
        "info": "Override collection name as section heading"
      }, {
        "type": "collection",
        "id": "collection",
        "label": "Collection"
      }
    ]
  }
{% endschema %}
