

/* cart drawer */

body.overflow-hidden{
    overflow:hidden;
}


.drawer{
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    opacity:0;
    visibility:hidden;
    background-color: rgba(34,34,34,.4);
    transition: opacity .25s ease, visibility .25s ease .25s;
}

.drawer.active {
    opacity: 1;
    visibility:visible;
    transition: opacity .25s ease;
}

.drawer__inner {
    height: 100%;
    width: 500px;
    max-width: calc(100vw - 3rem);
    border-right: 0;
    background-color: white;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    transform: translate(100%);
    transition: transform .2s ease;
}

.drawer.active .drawer__inner {
    transform: translate(0);
}

/* modal */

modal-dialog{
    position:fixed;
    inset:0;
    display: flex;
    justify-content:center;
    align-items:center;
    background-color:rgba(34,34,34,.4);
    visibility: hidden;
}

modal-dialog[open] {
    opacity: 1;
    visibility: visible;
    z-index: 20;
}

/* transitions */

.three-pane-item a:hover {
    background-color: rgba(3, 28, 48, 50%);
}

.three-pane-item a:hover + img {
    transform:scale(1.1);
}

.featured-category a:hover .overlay{
    background-color: rgba(3, 28, 48, 50%);
}

.featured-category a:hover img{
    transform: scale(1.1);
}

.menu-column.feature a:hover .overlay{
    background-color: rgba(3, 28, 48, 50%);
}

.menu-column.feature a:hover img{
    transform: scale(1.1);
}
